@tailwind base;
@tailwind components;
@tailwind utilities;

/* Halenoir font family - stored in public/fonts/halenoir/ */
@font-face {
  font-family: "Halenoir";
  src: url("/fonts/halenoir/HalenoirCompact-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Halenoir";
  src: url("/fonts/halenoir/HalenoirCompact-RegularObl.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Halenoir";
  src: url("/fonts/halenoir/HalenoirCompact-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Halenoir";
  src: url("/fonts/halenoir/HalenoirCompact-DemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Halenoir";
  src: url("/fonts/halenoir/HalenoirCompact-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Halenoir";
  src: url("/fonts/halenoir/HalenoirCompact-Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@layer base {
  body {
    @apply bg-amplifi-surface text-amplifi-text;
    font-family: "Halenoir", system-ui, sans-serif;
  }
}
